<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-1 thai-text">ลูกค้า</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <button class="circle-button" data-toggle="modal" (click)="onCreateCustomer()" data-target="#customerModal">+</button>
                                <!-- Modal -->
                                <app-customer-create-modal *ngIf="showCustomerCreateModal" 
                                                           (formSubmitted)="onSubmitCreate($event)"
                                                           [showCustomerCreateModal]="showCustomerCreateModal" 
                                                           (close)="closeCustomerCreateModal()"
                                                            >
                                </app-customer-create-modal>

                                <app-customer-edit-modal (formEditSubmitted)="onSubmitEdit($event)"
                                                         [data]="modalEditData"
                                                         [showCustomerEditModal]="showCustomerEditModal"
                                                         (closeModal)="closeCustomerEditModal()"
                                                         >
                                </app-customer-edit-modal>

                                <app-customer-profile-modal *ngIf="showCustomerProfileModal" 
                                                        [data]="modalData" 
                                                        [showCustomerProfileModal]="showCustomerProfileModal" 
                                                        (close)="closeModal()"
                                                         >
                                </app-customer-profile-modal>
                                <app-customer-order-create-modal 
                                                                [data]="modalCreateOrderData"
                                                                [showOrderCreateModal]="showOrderCreateModal"
                                                                (close)="closeOrderCreateModal()"
                                                                >
                                </app-customer-order-create-modal>


                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>