<div class="modal" *ngIf="showOrderCreateModal">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">




      <form [formGroup]="orderCreateForm" (ngSubmit)="submitOrderCreate()">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">ข้อมูลรถ</h3>
          </div>
          <div class="card-body">
            <div>
                <div class="d-flex justify-content-between"> 
                    <h6>{{data.customers[0].name}}</h6>
                    <h6>{{data.customers[0].phone}}</h6>
                </div>
                <div class="d-flex justify-content-between"> 
                    <h6>{{data.brand}}</h6>
                    <h6>{{data.licensePlate}}</h6>
                </div>
            </div>


            <!-- <select class="form-control" id="customerId" formControlName="customerId" placeholder="เลือก">
              <option *ngFor="let customer of data.customers" [value]="customer.id">{{ customer.name }}</option>
            </select> -->
 
          </div>

        </div>

        <div class="card card-success card-outline">
          <div class="card-header d-flex justify-content-between align-items-center">

            <h3 class="card-title">ใบรับงาน</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="sympthom">อาการเสีย</label>
                  <input type="text" class="form-control" id="sympthom" formControlName="sympthom"
                    placeholder="อาการเสีย">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="description">รายละเอียด</label>
                  <input type="text" class="form-control" id="description" formControlName="description"
                    placeholder="รายละเอียด">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="km">KM</label>
                  <input type="text" class="form-control" id="km" formControlName="km"
                    placeholder="KM. ที่เข้ารับบริการ">
                </div>

              </div>


              <div class="col-12">
                <button type="submit" class="btn btn-primary">บันทึก</button>
              </div>

              <!-- /.card-body -->
            </div>


            <!-- /.card -->
          </div>


        </div>
      </form>




    </div>
