<!-- <div *ngIf="isMember"> -->
    <!-- <li class="nav-item" (click)="setSelectedMenu('menu1')">
        <a routerLink="/garage/main"  class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu1'}">
          <i class="fas fa-chart-pie nav-icon"></i>
          <p>
            รายงาน
          </p>
        </a>
      </li> -->
  
      <li class="nav-item" (click)="setSelectedMenu('menu2')">
        <a routerLink="/garage/main"  class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu2'}">
          <i class="fas fa-bullhorn"></i>
          <p>รับงาน Mem</p>
        </a>
  
      </li>
  
      <li class="nav-item" (click)="setSelectedMenu('menu3')">
        <a routerLink="/garage/search" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu3'}">
          <i class="nav-icon fas fa-th"></i>
          <p>ค้นหาสินค้า</p>
        </a>
      </li>
  
      <li class="nav-item" (click)="setSelectedMenu('menu4')">
        <a routerLink="/garage/car-list" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu4'}">
          <i class="nav-icon fas fa-th"></i>
          <p>รถ</p>
        </a>
      </li>
  

      <li class="nav-item" (click)="setSelectedMenu('menu5')">
        <a routerLink="/garage/customer-list" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu5'}">
          <i class="nav-icon fas fa-th"></i>
          <p>ลูกค้า</p>
        </a>
      </li>

      <li class="nav-item" (click)="setSelectedMenu('menu6')">
        <a routerLink="/garage/order-list" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu6'}">
          <i class="nav-icon fas fa-th"></i>
          <p>Order</p>
        </a>
      </li>
 
      <li class="nav-item" (click)="setSelectedMenu('menu7')">
        <a routerLink="/garage/order-detail-list" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu7'}">
          <i class="nav-icon fas fa-th"></i>
          <p>Order Detail</p>
        </a>
      </li>

      <li class="nav-item" (click)="setSelectedMenu('menu8')">
        <a routerLink="/garage/get-order" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu8'}">
          <i class="nav-icon fas fa-th"></i>
          <p>Get Order (customer ->car)</p>
        </a>
      </li>
    <!-- </div> -->
  
