<!-- <div *ngIf="isMember"> -->
    <!-- <li class="nav-item" (click)="setSelectedMenu('menu1')">
        <a routerLink="/garage/main"  class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu1'}">
          <i class="fas fa-chart-pie nav-icon"></i>
          <p>
            รายงาน
          </p>
        </a>
      </li> -->
  
      <li class="nav-item" (click)="setSelectedMenu('menu2')">
        <a routerLink="/garage/main"  class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu2'}">
          <i class="fas fa-bullhorn"></i>
          <p>รับงาน</p>
        </a>
  
      </li>
  
      <li class="nav-item" (click)="setSelectedMenu('menu3')">
        <a routerLink="/garage/search" class="nav-link"
          [ngClass]="{'active': selectedMenu === 'menu3'}">
          <i class="nav-icon fas fa-th"></i>
          <p>ค้นหาสินค้า</p>
        </a>
      </li>
  
  
 
    <!-- </div> -->
  
