<!-- SELECT2 EXAMPLE -->
<div class="card card-default">
  <div class="card-header">
    <div class="row d-flex justify-content-between">
      <div>
        <button type="button" (click)="orderCreate()" class="btn btn-block btn-outline-primary">ลูกค้าใหม่</button>
      </div>
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="search" formControlName="searchTerm" class="form-control input-hover-blue" id="itemname-form"
            placeholder="ทะเบียนรถ หรือ โทรศัพท์">
        </div>
      </form>
    </div>


  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div>
      <table *ngIf="carData && carData.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th style="width: 10px">id</th>
            <th class="text-center">ทะเบียน</th>
            <th class="text-center">แบรนด์</th>
            <th class="text-center">รุ่น</th>
            <th style="width: 200px">จัดการ</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carData">
            <td>{{car.id}}</td>
            <td>{{car.licensePlate}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td><button class="btn btn-sm btn-success" (click)="orderByCarId(car.id)">รับงาน</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div>
      <table *ngIf="customerData && customerData.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th style="width: 10px">id</th>
            <th class="text-center">ลูกค้า</th>
            <th class="text-center">ที่อยู่</th>
            <th class="text-center">โทรศัพท์</th>
            <th style="width: 200px">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerData">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td><button class="btn btn-sm btn-success" (click)="orderByCustomerId(customer.id)">รับงาน</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- modal -->
<app-order-create-modal (formSubmitted)="onSubmitCreate($event)"></app-order-create-modal>

<app-customer-order-create-modal [data]="modalCustomerCreateOrderData" 
                                 [showOrderCreateModal]="showCustomerOrderCreateModal"
                                 (close)="closeCustomerOrderCreateModal()">
</app-customer-order-create-modal>

<app-car-order-create-modal [data]="modalCarCreateOrderData" 
                            [showOrderCreateModal]="showCarOrderCreateModal"
                            (close)="closeCarOrderCreateModal()">
</app-car-order-create-modal>
