<div *ngIf="true">
  <div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="carModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="carModalLabel">เพิ่มรถ</h5>
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="carForm" (ngSubmit)="submitCreate()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="licensePlate">รถทะเบียน *</label>
                  <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate"
                    placeholder="รถทะเบียน">
                </div>
                <div class="form-group">
                  <label for="year">รถรุ่นปี</label>
                  <input type="text" class="form-control" id="year" formControlName="year" placeholder="รุ่นปี">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="brand">แบรนด์ *</label>
                  <select class="form-control" id="brand" formControlName="brand">
                    <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="color">สี</label>
                  <input type="text" class="form-control" id="color" formControlName="color" placeholder="สี">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="model">รุ่น</label>
                  <input type="text" class="form-control" id="model" formControlName="model" placeholder="รุ่น">
                </div>
  
  
              </div>
            </div>
            <button type="submit" class="btn btn-primary">เพิ่มรถ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

