<div class="modal wide-modal" *ngIf="showCarEditModal">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="carModalLabel">แก้ไข ข้อมูลรถ</h5>
       
      <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
    </div>
    <div class="modal-body">
      <form [formGroup]="carForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="licensePlate">ทะเบียนรถ</label>
              <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate"
                [(ngModel)]="data.licensePlate" placeholder="ทะเบียน">
            </div>
            <div class="form-group">
              <label for="year">รุ่นปี</label>
              <input type="text" class="form-control" id="year" formControlName="year" [(ngModel)]="data.year"
                placeholder="ปี">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="brand">แบรนด์</label>
              <input type="text" class="form-control" id="brand" formControlName="brand" [(ngModel)]="data.brand"
                placeholder="แบรนด์">
            </div>
            <div class="form-group">
              <label for="color">สี</label>
              <input type="text" class="form-control" id="color" formControlName="color" [(ngModel)]="data.color"
                placeholder="สี">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="model">รุ่น</label>
              <input type="text" class="form-control" id="model" formControlName="model" [(ngModel)]="data.model"
                placeholder="รุ่น">
            </div>
          </div>
          <button type="button" (click)="onEditSubmit()" class="btn btn-primary">
            บันทึก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
