<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-1 thai-text">รายชื่อพนักงาน</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <p></p>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">

                            </table>
                            <!-- <table class="table table-hover text-nowrap">
                                <tr>
                                    <th>รหัสพนักงาน</th>
                                    <th>ชื่อ</th>
                                    <th>นามสกุล</th>
                                    <th>โทรศัพท์</th>
                                    <th>แผนก</th>
                                    <th>หมายเลขบัตรอนุญาต</th>
                                    <th>ติดต่อชั้น</th>

                                    *
                                </tr>
                                <tr *ngFor="let item of data">
                                    <td>{{ item.idOfficer }}</td>
                                    <td>{{ item.firstName }}</td>
                                    <td>{{ item.lastName }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.department }}</td>
                                    <td>{{ item.token }}</td>
                                    <td>{{ item.multiSelectFloor }}</td>
                                    <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-info">
                                            แก้ไข
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" 
                                            data-target="#modal-danger" (click)="deleteOfficer(item.id)">
                                            ลบ
                                        </button>
                                       
                                    </td>

                                </tr>
                            </table> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->


</div>
<!-- /.content-wrapper -->