<div class="modal" *ngIf="showCarProfileModal">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">ประวัติรถ</h5>
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="modal-body">
            <div class="row" *ngIf="data && data.length > 0">
                <div class="col-6">
                    <div class="card card-default"  >
                        <div class="card-header">
                            <h3 class="card-title thai-text">รถ</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">รหัส: {{data[0].car.id}}</p>
                            <p class="card-text">ยี่ห้อ: {{data[0].car.brand}}</p>
                            <p class="card-text">รุ่น: {{data[0].car.model}}</p>
                            <p class="card-text">ทะเบียน: {{data[0].car.licensePlate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title thai-text">ลูกค้า</h3>
                        </div>
                        <div class="card-body">

                            <p class="card-tex"> รหัส: {{data[0].customer.id}}</p>
                            <p class="card-text">ลูกค้า: {{data[0].customer.name}}</p>
                            <p class="card-text">ที่อยู่: {{data[0].customer.address}}</p>
                            <p class="card-text">โทรศัพท์: {{data[0].customer.address}}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card" *ngIf="data && data.length > 0">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <button class="circle-button" data-toggle="modal" (click)="openCreateOrderModal()"
                        data-target="#createOrderModal">+</button>
                    <h3 class="card-title">ประวัติ ใบงาน</h3>
                </div>

                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">ใบงาน</th>
                                    <th class="text-center">อาการเสีย</th>
                                    <th class="text-center">รายละเอียด</th>
                                    <th class="text-center">KM.</th>
                                    <th class="text-center">รับบริการเมื่อ</th>
                                    <th style="width: 40px">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of data">
                                    <td>{{order.id}}</td>
                                    <td>{{order.sympthom}}</td>
                                    <td>{{order.description}}</td>          
                                    <td>{{order.km}}</td>
                                    <td>{{order.dateIn}}</td>
                                    <td>
                                        <span [ngClass]="{
                                            'badge badge-success': order.status === 'closed',
                                            'badge badge-danger': order.status === 'open',
                                            'badge badge-warning': order.status !== 'closed' && order.status !== 'open'
                                        }">
                                            {{order.status}}
                                        </span>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                   
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<!-- ------------------------- -->
<!-- New Modal -->
<div class="modal modal-1" *ngIf="showCreateOrderModal">
    <div class="modal-content modal-content-1">
        <div class="modal-header">
            <h5 class="modal-title">Create Order</h5>
            <button type="button" class="close" (click)="closeCreateOrderModal()" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="submitOrder()">
                <div class="form-group">
                    <label for="sympthom">อาการเสีย</label>
                    <input type="text" class="form-control" id="sympthom" [(ngModel)]="newOrder.sympthom"
                        name="sympthom">
                </div>
                <div class="form-group">
                    <label for="description">รายละเอียด</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="newOrder.description"
                        name="description">
                </div>
                <div class="form-group">
                    <label for="km">Km ที่เข้ารับบริการ</label>
                    <input type="text" class="form-control" id="km" [(ngModel)]="newOrder.km" name="km">
                </div>
                <button type="submit" class="btn btn-primary">บันทึก</button>
            </form>
        </div>
    </div>
</div>