<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-1 thai-text">รับงาน</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="container">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sympthom">อาการเสีย</label>
                                        <input type="text" class="form-control" id="sympthom" formControlName="sympthom"
                                            placeholder="อาการเสีย">
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="description">รายละเอียด</label>
                                        <input type="text" class="form-control" id="description" 
                                        formControlName="description" placeholder="รายละเอียด">
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="km">Km ที่เข้ารับบริการ</label>
                                        <input type="text" class="form-control" id="km" formControlName="km"
                                         placeholder="Km ที่เข้ารับบริการ">
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modal-lg">
                                            รับรถ
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">


                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example2" class="table table-bordered table-striped"></table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->


</div>
<!-- /.content-wrapper -->