<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Garage Work</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/owl.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">อู่บอย เซอร์วิส</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="ทะเบียนรถ หรือ เบอร์โทร" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย sale -->
        <app-menu-sale *ngIf="isSale"></app-menu-sale>

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย member -->
        <app-menu-member *ngIf="isMember"></app-menu-member>

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย Dev -->
        <app-menu-dev *ngIf="isDev"></app-menu-dev>

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย Admin1 -->
        <li *ngIf="isAdmin" class="nav-item" [ngClass]="{'menu-open': openMenu === 'admin1'}"
          (click)="setOpenMenu('admin1')">
          <a class="nav-link" [ngClass]="{'active': selectedMenu === 'admin1'}">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              ตั้งค่า
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/profile" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>โปรไฟล์</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/changepwd" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>เปลี่ยนรหัสผ่าน</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย Admin2 -->
        <li *ngIf="isAdmin" class="nav-item" [ngClass]="{'menu-open': openMenu === 'admin2'}"
          (click)="setOpenMenu('admin2')">
          <a class="nav-link" [ngClass]="{'active': selectedMenu === 'admin2'}">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Administrator
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/log-back" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Log-Back</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/log-auth" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Log-Auth</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/member-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>สมาชิก</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/changepwd" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>เปลี่ยนรหัสผ่าน</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- ส่วนนี้แสดงเมื่อ login ด้วย Admin3 -->
        <li *ngIf="isAdmin" class="nav-item" [ngClass]="{'menu-open': openMenu === 'admin3'}"
          (click)="setOpenMenu('admin3')">
          <a class="nav-link" [ngClass]="{'active': selectedMenu === 'admin3'}">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              ทดสอบ Feature ใหม่
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/part-list-new" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ค้นหาสินค้า</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/log-auth" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Log-Auth</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/member-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>สมาชิก</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/changepwd" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>เปลี่ยนรหัสผ่าน</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
  <!-- /.sidebar -->
</aside>