<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Garage Work</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/owl.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

        <li class="nav-item" (click)="setSelectedMenu('menu1')">
          <a routerLink="/dashboard" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu1'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
             หน้าหลัก
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item" (click)="setSelectedMenu('menu2')">
          <a routerLink="/garage/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu2'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
               หน้าร้าน
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item" (click)="setSelectedMenu('menu3')">
          <a routerLink="/repair/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu3'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              ช่างดำเนินการซ่อม
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>


        <li class="nav-item" (click)="setSelectedMenu('menu4')">
          <a routerLink="/delivery/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu4'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
             ลูกค้ารับรถคืน

            </p>
          </a>
        </li>

        <li class="nav-item" (click)="setSelectedMenu('menu5')">
          <a routerLink="/pos/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu5'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
             POS

            </p>
          </a>
        </li>

        <li class="nav-header"></li>
        <li class="nav-header">OFFFICER</li>
        <li class="nav-item" (click)="setSelectedMenu('menu6')">
          <a routerLink="/finances/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu6'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
             การเงิน
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        
        <li class="nav-item" (click)="setSelectedMenu('menu7')">
          <a routerLink="/stock/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu7'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
           สต๊อกสินค้า

            </p>
          </a>
        </li>

        <li class="nav-item" (click)="setSelectedMenu('menu8')">
          <a routerLink="/expense/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu8'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
          ค่าใช้จ่าย

            </p>
          </a>
        </li>

        <li class="nav-item" (click)="setSelectedMenu('menu9')">
          <a routerLink="/reports/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu9'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
          รายงาน

            </p>
          </a>
        </li>

        <li class="nav-header"></li>
        <li class="nav-header">ตั้งค่า</li>
        <li class="nav-item" (click)="setSelectedMenu('menu110')">
          <a routerLink="/expense/main" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu10'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
             ระบบ

            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>