<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">EasyLobby</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

        <li class="nav-item" (click)="setSelectedMenu('menu1')">
          <a routerLink="/dashboard" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu1'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              หน้าหลัก
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item" (click)="setSelectedMenu('menu2')">
          <a routerLink="/visitors/register" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu2'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              ลงทะเบียนผู้มาติดต่อ
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>


        <li class="nav-item" (click)="setSelectedMenu('menu3')">
          <a routerLink="/visitors/visitor-list" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu3'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              รายชื่อผู้มาติดต่อ

            </p>
          </a>
        </li>
        <li class="nav-header"></li>
        <li class="nav-header">OFFFICER</li>
        <li class="nav-item" (click)="setSelectedMenu('menu4')">
          <a routerLink="/officers/regist" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu4'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              ลงทะเบียนพนักงาน
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        
        <li class="nav-item" (click)="setSelectedMenu('menu5')">
          <a routerLink="/officers/officer-list" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu5'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              รายชื่อพนักงาน

            </p>
          </a>
        </li>

        <li class="nav-header"></li>
        <li class="nav-header">SETUP</li>
        <li class="nav-item" (click)="setSelectedMenu('menu6')">
          <a routerLink="/visitors/visitor-list" class="nav-link" [ngClass]="{'active': selectedMenu === 'menu6'}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              ตั้งค่า

            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>