<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-1 thai-text">ลงทะเบียน พนักงาน</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>
  
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
  
  
  
  
  
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">ผู้มาติดต่อ</h3>
        </div>
        <div class="card">
          <div class="card-body register-card-body">
            <form #registerForm="ngForm" (submit)="onSubmit()">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ชื่อ" [(ngModel)]="user.firstName" name="firstName"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="นามสกุล" [(ngModel)]="user.lastName" name="lastName"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="โทรศัพท์" [(ngModel)]="user.phone" name="phone"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-phone"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="บัตรประชาชน" [(ngModel)]="user.idCard" name="idCard"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-phone"></span>
                  </div>
                </div>
              </div>
              <!-- ต่อด้วยช่องนามสกุล, บัตรประชาชน -->
              <div class="input-group mb-3">
                <select class="form-control" [(ngModel)]="user.destFloor" name="floor">
                  <option value="">เลือกชั้นที่ต้องการไปติดต่อ</option>
                  <!-- ตัวเลือกของชั้นที่ -->
                  <option value="1">ชั้น 1</option>
                  <option value="2">ชั้น 2</option>
                  <option value="3">ชั้น 3</option>
                  <option value="4">ชั้น 4</option>
                  <option value="5">ชั้น 5</option>
                  <option value="6">ชั้น 6</option>
                  <option value="7">ชั้น 7</option>

  
  
                </select>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="หมายเลขบัตรอนุญาต" [(ngModel)]="user.token" name="token"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-credit-card"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4 d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary btn-block"
                    [disabled]="!registerForm.valid">ลงทะเบียน</button>
                  <button type="button" class="btn btn-danger" (click)="resetForm()">รีเซต</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      
    </section>
    <!-- /.content -->
  
  
  </div>
  <!-- /.content-wrapper -->
