<div class="content-wrapper">
    <div class="container-fluid">
        <div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>Slide 1</ng-template>
                <ng-template carouselSlide>Slide 2</ng-template>
                <ng-template carouselSlide>Slide 3</ng-template>
            </owl-carousel-o>
        </div>
        <div class="row w-100">
            <div class="col-9">
                <section class="content">

                    <!-- Default box -->
                    <div class="card card-solid">
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">

                                        </div>
                                        <div class="card-body pt-0">
                                            <img src="../../../../assets/images/promotion-1.jpg" alt=""
                                                class="img-fluid">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <div class="btn btn-primary btn-lg btn-flat">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->

                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->

                </section>

            </div>
            <div class="col-3">
                <section class="content">
                    <div class="order-list">
                        <div class="orderid">
                            <h4>Order List</h4>
                            <h5>Transaction id : #65565</h5>
                        </div>
                        <div class="actionproducts">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="deletebg confirm-text"><img
                                            src="assets/img/icons/delete-2.svg" alt="img" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </div>

</div>